// MIXINS

// Center element horizontally and vertically
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Flexbox generator
@mixin flex($direction, $wrap, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

// Grid generator
@mixin grid($template-rows, $template-columns, $gap) {
  display: grid;
  grid-template-rows: $template-rows;
  grid-template-columns: $template-columns;
  gap: $gap;
}