@use 'sass:map';
@use 'sass:math';
@import '../../config';

// Colors
$color-primary: map.get($config, colors, primary);
$color-secondary: map.get($config, colors, secondary);
$color-success: map.get($config, colors, success);
$color-info: map.get($config, colors, info);
$color-warning: map.get($config, colors, warning);
$color-error: map.get($config, colors, error);
$color-surface: map.get($config, colors, surface);
$color-surface-rev: map.get($config, colors, surface_rev);

$color-text: map.get($config, colors, text);

// Fonts
$base-font-size: 16px;
$base-font-family: map.get($config, font_family), system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Spacing
$spacing-unit: map.get($config, spacing_unit);
$spacing-base: $spacing-unit * 2;
$padding-sm: $spacing-base;
$padding-md: $spacing-base * 2;
$padding-lg: $spacing-base * 3;
$padding-xl: $spacing-base * 4;
$padding-2xl: $spacing-base * 6;
$padding-3xl: $spacing-base * 8;
$spacing-sizes: (
   "none": 0,
   "xs": $spacing-unit,
   "sm": $padding-sm,
   "md": $padding-md,
   "lg": $padding-lg,
   "xl": $padding-xl,
   "2xl": $padding-2xl,
   "3xl": $padding-3xl
);

// Borders
$border-radius: 0.5rem;
$rounded-sm: math.div($border-radius, 2);
$rounded-md: $border-radius;
$rounded-lg: $border-radius * 2;
$rounded-xl: $border-radius * 3;
$rounded-2xl: $border-radius * 4;
$rounded-3xl: $border-radius * 6;

$border-width: map.get($config, border_width);

// Breakpoints
$breakpoint-xs: map.get($config, breakpoints, xs);  // Not really used
$breakpoint-sm: map.get($config, breakpoints, sm);  // Not really used
$breakpoint-md: map.get($config, breakpoints, md);  // Tablet
$breakpoint-lg: map.get($config, breakpoints, lg); // Desktop
$breakpoint-xl: map.get($config, breakpoints, xl); // Max width
$breakpoint-sizes: (
   "xs": $breakpoint-xs,
   "sm": $breakpoint-sm,
   "md": $breakpoint-md,
   "lg": $breakpoint-lg,
   "xl": $breakpoint-xl
);

// Widths
$full-width: 100%;
$base-width: $full-width;
$container-width: map.get($config, widths, container);
$container-width-tablet: map.get($config, widths, container_tablet);
$container-width-desktop: map.get($config, widths, container_desktop);
$container-width-sm: map.get($config, widths, container_sm);
