@use 'sass:map';
@import '../../config';

// Colors
$color-primary: map.get($config, colors, primary);
$color-secondary: map.get($config, colors, secondary);
$color-success: map.get($config, colors, success);
$color-info: map.get($config, colors, info);
$color-warning: map.get($config, colors, warning);
$color-error: map.get($config, colors, error);
$color-surface: map.get($config, colors, surface);
$color-text: map.get($config, colors, text);

// Fonts
$base-font-size: 16px;
$base-font-family: map.get($config, font_family), system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Spacing
$spacing-unit: map.get($config, spacing_unit);
$spacing-base: $spacing-unit * 2;
$padding-sm: $spacing-base;
$padding-md: $spacing-base * 2;
$padding-lg: $spacing-base * 3;
$padding-xl: $spacing-base * 4;
$spacing-sizes: (
   "none": 0,
   "xs": $spacing-unit,
   "sm": $padding-sm,
   "md": $padding-md,
   "lg": $padding-lg,
   "xl": $padding-xl
);

// Breakpoints
$breakpoint-xs: map.get($config, breakpoints, xs);  // Not really used
$breakpoint-sm: map.get($config, breakpoints, sm);  // Not really used
$breakpoint-md: map.get($config, breakpoints, md);  // Tablet
$breakpoint-lg: map.get($config, breakpoints, lg); // Desktop
$breakpoint-xl: map.get($config, breakpoints, xl); // Max width
$breakpoint-sizes: (
   "xs": $breakpoint-xs,
   "sm": $breakpoint-sm,
   "md": $breakpoint-md,
   "lg": $breakpoint-lg,
   "xl": $breakpoint-xl
);

// Widths
$base-width: 100%;
$container-width: map.get($config, widths, container);
$container-width-sm: map.get($config, widths, container_sm);
