@import '../0_Common/index';
@import '../1_Fundaments/index';

// HEADER

header {
   width: $full-width;
   @include flex(column, none, center, center, 1rem);
   background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(255,255,255,0) 100%);
   padding: $padding-6xl 0 $padding-2xl;

   h1, p {
      width: $container-width;
      text-align: center;
   }
   p {
      @include text-subheading;
      margin-top: $spacing-base;
   }
}