@import '../0_Common/index';
@import '../1_Fundaments/index';

// SECTION LAYOUT

section {
   width: $full-width;
   margin: $padding-3xl auto;
   @include flex(column, nowrap, center, center, $padding-xl);

   .section-header {
      @include flex(column, nowrap, center, center, $padding-md);
      width: $full-width;
      margin: 0 auto;
      text-align: center;
      p {
         @include text-subheading;
      }
   }
}